
// カラー設定
$ai-black: #333333;
$white: #fff;
$ai-pale-blue: #EEF9FB;
$paleblue: #EEF9FB;
$ai-blue: #43B2CA;
$ai-deep-blue: #0E538C;
$ai-green: #0F6B38;
$black: #474847;
$white: #fff;
$yellow: #FFBD00;
$orange: #EF9635;
$green: #0F6B38;
$blue: #062E75;
$palegreen: #F4F7F5;
$gray: #F7F7F7;
$paleblue: #F1F6FF;
$red: #ED7973;



// メディアクエリ
$media-tab: 1025px;
$media-tab-s: 768px;
$media-sp: 750px;
$media-sp-s: 375px;
