@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');

.nav_about > a{
    border-bottom: solid 1px #264b8d;
}

/* ********************* */
/* サブキービジュアル */
/* ********************* */
.sub_page_kv{
    background-image: url(../image/about/about_key_back.jpg);
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 50% ;
    background-size: 40%;
    margin-top: 150px;
    padding-bottom: 300px;

}

/* ********************* */
/* ABOUT共通 */
/* ********************* */

.sec_about{
    max-width: 80%;
    margin: 0 auto;
}

.about_section_title{
    display: block;
    padding-top:112px;
}

.about_section_title h4{
    font-family: 'Noto Sans Japanese', sans-serif; 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #333;
}

.about_section_title p{
    position: relative;
    top: -100px;
    z-index: -1;
    font-family: 'Oxygen', cursive;
    color: rgb(38, 75, 141, 0.1);
    font-size: 120px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* ********************* */
/* メッセージ */
/* ********************* */

.message_item_container{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.message_item_container > p{
    margin-left: 15%;
    width: 50%;
    font-family: 'Noto Sans Japanese', sans-serif; 
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #333;
}

/* ********************* */
/* 企業理念 */
/* ********************* */

.identity_item_container{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.identity_item_container > p{
    margin-right: 15%;
    width: 50%;
    font-family: 'Noto Sans Japanese', sans-serif; 
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #333;
}

/* ********************* */
/* 会社概要 */
/* ********************* */

.section_profile{
    margin: 60px 0 120px;
}

.profile_title {
    text-align: center;
}

.profile_title p{
    top: -110px;
}

.table_company{
    font-family: 'Noto Sans Japanese', sans-serif; 
    font-size: 14px;
    color: #333;
    letter-spacing: 2px;
    font-weight: 300;
    width: 50%;
    margin: 0 auto;
}

.table_company > tbody > tr:first-child {
    border-top: 1px solid #c4c3c3;
}

tr{
    border-bottom: 1px solid #c4c3c3;
    display: block;
    padding: 45px 0;
    
}

th{
    font-family: 'Noto Sans Japanese', sans-serif; 
    font-weight: 300;
    width: 220px;
    padding-left: 21px;
    vertical-align: middle;
}

td{
    line-height: 21px;
}

/* ********************* */
/* レスポンシブ対応 */
/* 横幅900px以下の場合の挙動 */
/* ********************* */
@media (max-width: 900px) {

    .sub_page_kv{
        background-size: 90%;
    }
    
    .sec_about{
        max-width: 90%;
    }

    .message_item_container{
        display: block;
        margin: 0;
    }

    .message_item_container > img{
        padding-left: 54px;
        margin: 0 auto;
    }

    .about_section_title p{
        font-size: 54px;
    }

    .message_item_container > p{
        width: 100%;
        margin-left: 10%;
        padding-top: 21px;
    }

    .identity_item_container{
        display: block;
        margin: 0;
    }

    .identity_item_container > p{
        width: 100%;
        margin-left: 10%;
        padding-bottom: 30px;
    }

    .identity_item_container > img{
        padding-left: 42px;
        margin: 0 auto;
    }

    .table_company{
        width: 90%;
    }

    th{
        width: 110px;
    }

    tr{
        padding: 21px 0;
    }
}