
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@100;400&family=Oxygen:wght@300&display=swap');

/* 記事ができたら開放 ---start */
.nav_newsblog{
    display: none;
}
/* 記事ができたら開放 ---end */

/* ********************* */
/* メニュー部分 */
/* ********************* */
.header_top{
    max-width: 1200px;
    margin: 0 auto;
}

.LC_logo{
    margin: 18px 0;
}

.header_wap{
    display: flex;
    justify-content: space-between;
}

.nav_item{
    display: flex;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;    
}

.nav_item_line > a{
    display: block;
    margin: 27px;
    padding-bottom: 30px;
}

.nav_item_line > a:hover{
    border-bottom: solid 1px #264b8d;
}

.nav_contact > a{
    display: block;
    color: #fff;
    background-color: #264b8d;
    padding: 27px;
}

.nav_contact > a:hover{
    background-color: rgba(48, 163, 219, 1.0);
}

/* ********************* */
/* サブキービジュアル部分 */
/* ********************* */

.sub_kv_container{
    width: 40%;
    text-align: end;
}

.sub_kv_container > h3{
    color: #264b8d;
    font-size: 110px;
    font-family: 'Oxanium', cursive;
    font-weight: 300;
    letter-spacing: 2px;
}

.sub_kv_container > p{
    color: #264b8d;
    font-size: 15px;
    font-family: 'Noto Sans Japanese', sans-serif; 
        /* font-weight: 300; */
    letter-spacing: 1px;
}


/* ********************* */
/* CONTACTフッター */
/* ********************* */

.contact_container{
    padding-bottom: 81px;
}

.contact_btn{
    margin: 0 auto;
    padding: 42px;
    display: flex;
    justify-content: center;
    background-color: #264b8d;
    width: 55%;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Oxygen', cursive;
}

.contact_btn:hover{
    background-color: #30a3db;
}

.contact_btn img{
    margin-right: 24px;
}

/* ********************* */
/* フッター*/
/* ********************* */
.footer_inner{
    background-color: #264b8d;
    padding:30px 0;
    font-family: 'Oxygen', sans-serif;   
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
}

.footer_inner p{
    width: 30%;
    margin-left:auto ;
    margin-right: 42px;
    text-align: end;
}


.top_section_container{
    padding-bottom: 100px;
}


.section_title{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 112px;
    align-items: center;
}

.section_title h3{
    font-family: 'Oxygen', cursive;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-left: 12px;
    margin-top: 2px;
}