@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');

.nav_newsblog > a{
    border-bottom: solid 1px #264b8d;
}

/* ********************* */
/* サブキービジュアル */
/* ********************* */
.sub_page_kv{
    background-image: url(../image/news/news_key_back_2.jpg);
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 50% ;
    background-size: 40%;
    margin-top: 150px;
    padding-bottom: 300px;
}

.news_container{
    margin-bottom:150px;
}

.section_title{
    padding-top: 0;
}

.sec_news_main{
    margin-top: 90px;
}

#news_all{
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #333;
}

.list_top_news{
    display: flex;
    padding: 48px 60px;
    border-bottom: 1px solid #333;   
}

.top_news_info{
    align-items: center;
}

.list_top_news:hover{
    background-color: rgba(48, 168, 219, 0.2);
}

.news_date{
    color: #333;
    font-family: 'Oxygen', cursive;
    letter-spacing: 1px;
    margin-right: 21px;
}

.news_kind{
    background-color: #264b8d;
    color: #fff;
    font-family: 'Noto Sans Japanese', sans-serif; 
    width: 63px;
    border-radius: 1px;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
}

.top_news_info{
    display: flex;
}

.list_top_news > h5{
    margin-left: 90px;
    font-family: 'Noto Sans Japanese', sans-serif;
    color: #333;
    font-size: 18px;
    letter-spacing: 2px;
}

/* ********************* */
/* POST_NEWS */
/* ********************* */
.sec_news_post{
    width:60%;
    margin:0 auto;   
}

.news_post_news_option_area{
    display:flex;
    margin-bottom: 21px;
}

.news_post_category{
    background-color: #264b8d;
    color: #fff;
    font-family: 'Noto Sans Japanese', sans-serif; 
    width: 63px;
    border-radius: 1px;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
}

.news_post_date{
    color:#333;
    font-family: 'Oxygen', cursive;
    letter-spacing: 1px;
    margin: auto 0;
    margin-right: 15px;
}

.news_post_title{
    font-family: 'Noto Sans Japanese', sans-serif; 
    color: #333;
    letter-spacing: 1px;
    font-size: 24px;
}

.news_post_content{
    margin-top:36px ;
    margin-bottom:150px ;
    font-family: 'Noto Sans Japanese', sans-serif; 
    color: #333;
    letter-spacing: 1px;
    font-size: 15px;
}

.news_post_content p{
    width: 90%;
    line-height: 27px;
}

.news_post_img{
    margin-bottom:36px ;
}

.news_post_img img{
    width: 330px;
}

.news_post_body a{
    color: #264b8d;
    text-decoration: underline;
}