@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');

/* ********************* */
/* サブキービジュアル */
/* ********************* */
.sub_page_kv{
    background-image: url(../image/contact/contact_key_back.jpg);
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 50% ;
    background-size: 40%;
    margin-top: 150px;
    padding-bottom: 300px;

}

.sec_contact{
    font-family: 'Noto Sans Japanese', sans-serif; 
    max-width: 1200px;
    margin: 0 auto; 
}

.contact_content_item{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 36px;
    align-items: center;
}


.contact_content_label_must{
    margin-right: 21px;
    font-size: 13px;
    background-color: #333;
    letter-spacing: 3px;
    color: #fff;
    padding: 6px 12px ;
    border-radius: 2px;
}

.contact_content_label{
    font-size: 15px;
    letter-spacing: 3px;
    color: #333;
}

.contact_detail{
    margin-left: auto;
}

.contact_input{
    width: 420px;
    padding: 9px 12px;
    font-size: 14px;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.contact_textarea{
    resize: vertical;
    display: block;
    width: 420px;
    height: 300px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #f5f5f5;
    border-radius: 2px;
    text-align: left;
}

.contact_confilm{
    font-family: 'Noto Sans Japanese', sans-serif; 
    padding: 100px 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
}

.privacy_policy{
    font-size: 15px;
    letter-spacing: 2px;
    color: #333;
}

.btnSubmit{
    margin-top: 48px;
    background-color: #333;
    letter-spacing: 2px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 2px;
    font-size: 15px;

}