/* ********************* */
/* POST_NEWS */
/* ********************* */

.news_post_detail ul {
  margin-left: 1.5em;
  list-style-type: disc;
}

.news_post_news_option_area {
  display: flex;
  margin-bottom: 21px;
}

.news_post_category {
  background-color: #264b8d;
  color: #fff;

  width: 63px;
  border-radius: 1px;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
}

.news_post_date {
  color: #333;
  font-family: "Oxygen", cursive;
  letter-spacing: 1px;
  margin: auto 0;
  margin-right: 15px;
}

.news_post_title {
  color: #333;
  letter-spacing: 1px;
  font-size: 24px;
}

.news_post_content {
  margin-top: 36px;
  margin-bottom: 150px;
  color: #333;
  letter-spacing: 1px;
  font-size: 15px;
  @include media-sp {
    margin-bottom: 100px;
  }
  p {
    margin-top: 0;
    width: 100%;
    line-height: 27px;
  }
  div {
    margin-bottom: 50px;
  }
  span {
    display: block;
  }
}

.news_post_img {
  margin-bottom: 36px;
  img {
  max-width: 750px;
}
}



.news_post_body a {
  color: #264b8d;
  text-decoration: underline;
}

/* POST_NEWS */
/* ********************* */

.news-page {
  margin: 0;

  /*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

  /* Reset box-model and set borders */
  /* ============================================ */

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
  }

  img {
    vertical-align: bottom;
  }

  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color: transparent; /* 3*/
  }

  /* Sections */
  /* ============================================ */

  /**
 * Remove the margin in all browsers.
 */

  body {
    margin: 0;
  }


  ul {
    margin-top: 0;
    padding: 0;
    padding-left: 1.5em;
  }
  .sec_news_post p {
    margin-bottom: 20px;
  }

  /**
 * Render the `main` element consistently in IE.
 */

 margin-block-start:0;

  main {
    display: block;
  }

  p {
    margin: 0;
  }

  /* Vertical rhythm */
  /* ============================================ */

  /* Headings */
  /* ============================================ */

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  /* Lists (enumeration) */
  /* ============================================ */

  .header_wap .nav_item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer .footer__links-lists {
    list-style: none;
    padding: 0;
  }

  /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
}

.sec_news_post {
  margin-top: 150px;
  @include media-tab-s  {
    margin-top: 80px;
  }
}

.nav_item_line a,
.footer__links-lists .lists-item a,
.nav_contact a,
.overlay a,
.contact a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}


.back-to-lists {
  display: block;
  text-align: center;
  margin-bottom: 100px;
  background-color: transparent;
  color: inherit;
}

.news-lists {
  margin-left: -1em;
  list-style-type: disc;
  margin-bottom: 30px;
}
