/* ********************* */
/* 法人研修事業&コンサルティング・受託開発支援事業共通 */
/* ********************* */
.sub-service {
  .container.wide {
    background-color: $gray;
    padding: 100px 0;
    margin-bottom: 100px;
    @include media-tab-s {
      padding: 50px 0;
      margin-bottom: 25px;
    }
  }
  &__ttl {
    text-align: center;
    h4 {
      font-size: 2.4rem;
      @include media-tab-s {
        font-size: 2.2rem;
      }
    }

    margin-bottom: 50px;
    @include media-tab-s {
      margin-bottom: 30px;
    }
  }
  &__ttl-sub-txt {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    @include media-tab-s {
      text-align: left;
      margin-top: 15px;
    }
  }
}

/* ********************* */
/* 法人研修事業 */
/* ********************* */
.sub-service {
  .contents-wrap {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
  }
  .contents-ttl {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #62b5e1;
    color: #fff;
    padding: 30px 0;
    @include media-tab-s {
      padding: 20px 0;
    }
  }
  .contents-txt {
    max-width: 750px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 50px;
    @include media-tab-s {
      margin-bottom: 50px;
      margin-top: 30px;
    }
  }
  .contents-list {
    width: 90%;
    margin: 0 auto;
  }
  .list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 80px;
    margin-bottom: 80px;
    @include media-tab-s {
      flex-direction: column;
      padding-bottom: 50px;
      margin-bottom: 50px;
    }
    &__left {
      margin-right: 80px;
      width: 90%;

      @include media-tab-s {
        margin-right: 0;
        width: 100%;
      }
    }
    &__ttl {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
      @include media-tab-s {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
    }
    &__txt {
      margin-bottom: 50px;
      @include media-tab-s {
        margin-bottom: 30px;
      }
    }
  }
  .bold {
    display: block;
  }
  .book {
    display: flex;
    @include media-tab-s {
      margin-bottom: 50px;
    }
    &__right {
      max-width: 100px;
      margin-left: 20px;
      @include media-tab-s {
        max-width: 80px;
        margin-left: 15px;
      }
    }
  }
  .btn-amazon {
    display: block;
    width: 250px;
    @include media-tab-s {
      width: 200px;
    }
  }
  .btn--with-arrow {
    max-width: 300px;
    @include media-tab-s {
      max-width: 100%;
    }
  }
}

/* ********************* */
/* コンサルティング・受託開発支援事業 */
/* ********************* */
.feature {
  padding: 100px 0;
  @include media-sp {
    padding: 50px 0;
  }
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-sp {
      flex-direction: column;
    }
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 50px;
    margin-bottom: 50px;
    @include media-sp {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .list-img {
      width: 35%;
      @include media-sp {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .list-txt {
      width: 60%;
      @include media-sp {
        width: 100%;
      }
    }
  }
  .number {
    font-size: 2.4rem;
    font-weight: bold;
    color: $ai-blue;
    @include media-tab-s {
      font-size: 2rem;
    }
  }
  .list-ttl {
    font-size: 2rem;
    font-weight: bold;
    color: $ai-blue;
    margin-bottom: 20px;
    @include media-tab-s {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }
}

.flow {
  background-color: #f7f7f7;
  padding: 100px 0;
  @include media-sp {
    padding: 50px 0;
  }
  .list-item {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-items: stretch;
    @include media-sp {
      flex-direction: column;
      margin-bottom: 0;
    }
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .number {
    background-color: $blue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 35px;
    @include media-sp {
      padding: 10px 0;
      flex-direction: column;
    }

    span {
      display: block;
      text-align: center;
      line-height: 1.25;
      font-weight: bold;
      @include media-sp {
        display: inline-block;
      }
    }

    .step {
      font-size: 1.2rem;
      @include media-sp {
        font-size: 1rem;
      }
    }
    .number-txt {
      font-size: 2.8rem;
      @include media-sp {
        font-size: 2rem;
      }
    }
  }
  .contents {
    padding: 30px;
    background-color: #fff;
    @include media-sp {
      padding: 20px;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
    }
    &-ttl {
      font-size: 2rem;
      font-weight: bold;
      color: $ai-blue;
      margin-bottom: 15px;
      @include media-tab-s {
        display: flex;
        justify-content: space-between;
      }
      @include media-sp {
        font-size: 1.8rem;
        margin-bottom: 10px;
        align-content: center;
      }
    }
    &-txt {
      font-size: 1.4rem;
      flex: 1;
    }
  }
  .list-img {
    width: 50px;
    margin-left: 20px;
    @include media-tab-s {
      width: 40px;
    }
  }
  .arrow {
    width: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    @include media-sp {
      width: 20px;
      margin-bottom: 15px;
    }
  }
}

.service {
  padding: 100px 0;
  @include media-sp {
    padding: 50px 0;
  }
}

.case {
  padding: 100px 0 50px;
  @include media-sp {
    padding: 50px 0;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-sp {
      flex-direction: column;
    }
  }
  .list-item {
    width: 48%;
    margin-bottom: 50px;
    @include media-sp {
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__ttl {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      color: #62b5e1;
      margin-bottom: 15px;
      @include media-sp {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
    }
    &__txt {
      font-size: 1.4rem;
    }
    &__img {
      margin-bottom: 20px;
    }
  }
}

.cv-contact {
  background-color: #eef9fb;
  .container {
    padding: 80px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-tab-s {
      flex-direction: column;
      padding: 50px 30px;
    }
    @include media-sp {
      padding: 50px 0;
    }
  }
  .ttl {
    font-size: 3.2rem;
    font-weight: bold;
    color: #62b5e1;
    margin-bottom: 20px;
    @include media-tab-s {
      font-size: 2.4rem;
      text-align: center;
    }
  }
  .ai-blue {
    font-weight: bold;
    color: #62b5e1;
  }
  &__img {
    max-width: 320px;
    margin-left: 50px;
    @include media-tab-s {
      margin-left: 0;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    @include media-sp {
      width: 80%;
      
    }
  }
  .contents {
    margin-bottom: 30px;
  }
  // .cv-contact_btn {
  //   max-width: 440px;
  //   padding: 12px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: #264b8d;
  //   color: #fff;
  //   font-size: 18px;
  //   letter-spacing: 1px;
  //   font-family: "Oxygen", cursive;
  //   @include media-sp {
  //     max-width: 100%;
  //   }

  //   &__img {
  //     width: 20px;
  //     margin-right: 10px;
  //     padding-bottom: 12px;
  //     @include media-tab-s {
  //       width: 25px;
  //       padding-bottom: 11px;
  //     }
  //   }
  //   @include media-tab-s {
  //     margin: 0 auto;
  //     max-width: 100%;
  //   }
  //   &:hover {
  //     background-color: #30a3db;
  //     transition: all 0.1s ease-out;
  //   }
  // }
  .contact_btn {
    max-width: 440px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264b8d;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Oxygen", cursive;
    margin-left: 0;
    @include media-sp {
      max-width: 100%;
    }

    &__img {
      width: 20px;
      margin-right: 10px;
      padding-bottom: 12px;
      @include media-tab-s {
        width: 25px;
        padding-bottom: 11px;
      }
    }
    @include media-tab-s {
      margin: 0 auto;
      max-width: 100%;
    }
    &:hover {
      background-color: #30a3db;
      transition: all 0.1s ease-out;
    }
  }
  
  .is-sp {
    width: 100%;
  }
}

/* ********************* */
/* flow */
/* ********************* */
// .sub-flow {
//   margin-bottom: 100px;
//   @include media-tab-s {
//     margin-bottom: 150px;
//   }
//   .container {
//     position: relative;
//   }

//   .section-ttl__sub {
//     text-align: center;
//     @include media-sp {
//       text-align: left;
//     }
//   }
//   &__container {
//     max-width: 520px;
//     margin: 0 auto;
//     @include media-sp {
//       max-width: 100%;
//     }
//   }
//   &__line {
//     position: relative;
//     top: 0;
//     left: 90px;
//     width: 1px;
//     height: 30px;
//     margin: 0;
//     background-color: #264b8d;
//     @include media-sp {
//       left: 10%;
//     }
//   }
//   &__item {
//     display: flex;
//     margin: 0 auto;
//     border: solid 1px #264b8d;
//     width: 80%;
//     @include media-sp {
//       width: 100%;
//     }
//   }
//   &__number {
//     font-family: "Oxygen", cursive;
//     color: #fff;
//     background-color: #264b8d;
//     padding: 24px;
//   }
//   &__contents {
//     color: #264b8d;
//     background-color: #fff;
//     margin-left: 21px;
//     padding: 24px;
//   }
//   &__titile {
//     font-size: 12rem;

//     white-space: nowrap;
//     color: #eff1f5;
//     transform: rotate(-90deg);
//     position: absolute;
//     left: 57%;
//     bottom: 1em;
//     @include media-sp {
//       transform: rotate(0);
//       bottom: -1.53em;
//       z-index: -1;
//       left: 50%;
//       transform: translateX(-50%);
//       font-size: 8rem;
//     }
//   }
// }

/* ********************* */
/* 事例Pick コンサル受託開発 */
/* ********************* */
.service {
  .container.wide {
    background-color: $gray;
    padding: 100px 0;
    margin-bottom: 100px;
    @include media-tab-s {
      padding: 50px 0;
      margin-bottom: 50px;
    }
  }
  &__ttl {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 50px;
    @include media-tab-s {
      font-size: 1.8rem;
      margin-bottom: 30px;
    }
  }
  .contents-wrap {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    @include media-sp {
      width: 100%;
    }
  }
}

/* 事例ピックアップのタブ切り替え ---start */
.tab-group {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  .tab {
    flex-grow: 1;
    padding: 15px;
    border: solid 1px #ccc;
    text-align: center;
    background-color: rgba(38, 75, 141, 0.4);
    color: #fff;
    cursor: pointer;
    @include media-sp {
      padding: 10px 5px;
      font-size: 1.2rem;
    }
  }

  .tab.is-active {
    background: #264b8d;
    color: #fff;
    transition: all 0.2s ease-out;
  }
}

.panel-group {
  padding: 80px 0;
  background: #f7f7f7;
  @include media-sp {
    padding: 50px 0;
  }
  .panel {
    display: none;
    width: 90%;
    margin: 0 auto;
  }

  .panel.is-show {
    display: block;
  }
}

/* 事例ピックアップのタブ切り替え ---end */
.panel {
  &-ttl {
    text-align: center;
    margin-bottom: 80px;
    @include media-sp {
      text-align: left;
      margin-bottom: 50px;
    }
  }
  &__wrap {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e8e8e8;
    @include media-sp {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__content-area {
    display: flex;
    @include media-sp {
      flex-direction: column;
    }
    .content-area {
      &_img {
        margin-right: 50px;
        width: 45%;
        @include media-sp {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      &_txt {
        width: 55%;
        @include media-sp {
          width: 100%;
        }
      }
    }
  }
  .txt-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: $ai-blue;
    margin-bottom: 20px;
    @include media-sp {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

/* ********************* */
/* 事例Pick 法人研修事業 */
/* ********************* */
.tab_corpo {
  flex-grow: 1;
  padding: 5px;
  text-align: center;
  background-color: rgba(48, 163, 219, 0.8);
  color: #fff;
  padding: 18px 0;
  cursor: pointer;
}

.content_corpo_text_area {
  width: 50%;
  margin-left: 42px;
}

.books_area {
  display: flex;
  margin-top: 27px;
  margin-left: 24px;
}

.title_reference {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;

  color: #333;
}

.book_title {
  font-size: 12px;
  line-height: 18px;

  color: #333;
}

.img_Btnamazon {
  display: block;
  margin-top: 36px;
}

.content_corpo > img {
  margin-top: 54px;
}

.btn--with-arrow {
  margin-top: 30px;
}

@media (max-width: 900px) {
  .btn--with-arrow {
    margin-top: 15px;
  }
}

.worry {
  background-color: #f7f7f7;
  padding: 100px 0;
  @include media-sp {
    padding: 50px 0;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .list-item {
    width: 49%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    @include media-sp {
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}

.needs {
  padding: 100px 0;
  @include media-sp {
    padding: 50px 0;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    @include media-sp {
      flex-direction: column;
    }
  }
  .list-item {
    width: 48%;
    padding: 40px;
    border: 1px solid #d9d9d9;
    text-align: center;
    @include media-sp {
      width: 100%;
      padding: 30px 20px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .txt-area {
      margin-bottom: 20px;
    }
    &__ttl {
      font-size: 2rem;
      font-weight: bold;
      color: #62b5e1;
      margin-bottom: 15px;
      @include media-sp {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
    }
  }
}

.customize {
  margin-bottom: 100px;
  @include media-sp {
    margin-bottom: 50px;
  }
  .container {
    padding: 80px 100px;
    background-color: #eef9fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-tab-s {
      flex-direction: column;
      padding: 50px 30px;
    }
    @include media-sp {
      padding: 50px 20px;
    }
  }
  .ttl {
    font-size: 3.2rem;
    font-weight: bold;
    color: #62b5e1;
    margin-bottom: 20px;
    @include media-tab-s {
      font-size: 2.4rem;
      text-align: center;
    }
  }
  .ai-blue {
    font-weight: bold;
    color: #62b5e1;
  }
  &__img {
    max-width: 320px;
    margin-left: 50px;
    @include media-tab-s {
      margin-left: 0;
      margin-top: 30px;
    }
    @include media-sp {
      width: 80%;
    }
  }
}

.cv {
  padding: 50px 0;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
  @include media-tab {
    padding: 60px 0;
  }
  @include media-sp {
    margin-bottom: 50px;
  }
  &.blue {
    background-color: $blue;
  }
  &-img {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include media-tab {
      width: 100%;
    }
  }
  &-ttl {
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 30px;
    @include media-tab {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }
  &-sub-txt {
    font-weight: bold;
    font-size: 2.4rem;
    text-decoration: underline;
    margin-bottom: 20px;
    @include media-tab {
      font-size: 1.6rem;
    }
  }
  .contents-txt {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .caution {
    font-size: 1.6rem;
    @include media-tab {
      font-size: 1.2rem;
    }
  }
}
