@charset "UTF-8";
/* ********************* */
/* 法人研修事業&コンサルティング・受託開発支援事業共通 */
/* ********************* */
.sub-service .container.wide {
  background-color: #F7F7F7;
  padding: 100px 0;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .sub-service .container.wide {
    padding: 50px 0;
    margin-bottom: 25px;
  }
}

.sub-service__ttl {
  text-align: center;
  margin-bottom: 50px;
}

.sub-service__ttl h4 {
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  .sub-service__ttl h4 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .sub-service__ttl {
    margin-bottom: 30px;
  }
}

.sub-service__ttl-sub-txt {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .sub-service__ttl-sub-txt {
    text-align: left;
    margin-top: 15px;
  }
}

/* ********************* */
/* 法人研修事業 */
/* ********************* */
.sub-service .contents-wrap {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
}

.sub-service .contents-ttl {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #62b5e1;
  color: #fff;
  padding: 30px 0;
}

@media screen and (max-width: 768px) {
  .sub-service .contents-ttl {
    padding: 20px 0;
  }
}

.sub-service .contents-txt {
  max-width: 750px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .sub-service .contents-txt {
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

.sub-service .contents-list {
  width: 90%;
  margin: 0 auto;
}

.sub-service .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .sub-service .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}

.sub-service .list-item__left {
  margin-right: 80px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .sub-service .list-item__left {
    margin-right: 0;
    width: 100%;
  }
}

.sub-service .list-item__ttl {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .sub-service .list-item__ttl {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

.sub-service .list-item__txt {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .sub-service .list-item__txt {
    margin-bottom: 30px;
  }
}

.sub-service .list-item .btn {
  max-width: 280px;
}

@media screen and (max-width: 768px) {
  .sub-service .list-item .btn {
    min-width: 100%;
    margin-top: 30px;
  }
}

.sub-service .bold {
  display: block;
}

.sub-service .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .sub-service .book {
    margin-bottom: 50px;
  }
}

.sub-service .book__right {
  max-width: 100px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .sub-service .book__right {
    max-width: 80px;
    margin-left: 15px;
  }
}

.sub-service .btn-amazon {
  display: block;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .sub-service .btn-amazon {
    width: 200px;
  }
}

.sub-service .btn--with-arrow {
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .sub-service .btn--with-arrow {
    max-width: 100%;
  }
}

/* ********************* */
/* コンサルティング・受託開発支援事業 */
/* ********************* */
.feature {
  padding: 100px 0;
}

@media screen and (max-width: 750px) {
  .feature {
    padding: 50px 0;
  }
}

.feature .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .feature .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .feature .list-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.feature .list-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.feature .list-item .list-img {
  width: 35%;
}

@media screen and (max-width: 750px) {
  .feature .list-item .list-img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.feature .list-item .list-txt {
  width: 60%;
}

@media screen and (max-width: 750px) {
  .feature .list-item .list-txt {
    width: 100%;
  }
}

.feature .number {
  font-size: 2.4rem;
  font-weight: bold;
  color: #43B2CA;
}

@media screen and (max-width: 768px) {
  .feature .number {
    font-size: 2rem;
  }
}

.feature .list-ttl {
  font-size: 2rem;
  font-weight: bold;
  color: #43B2CA;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .feature .list-ttl {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.flow {
  background-color: #f7f7f7;
  padding: 100px 0;
}

@media screen and (max-width: 750px) {
  .flow {
    padding: 50px 0;
  }
}

.flow .list-item {
  max-width: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .flow .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.flow .list-item:last-child {
  margin-bottom: 0;
}

.flow .number {
  background-color: #062E75;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 35px;
}

@media screen and (max-width: 750px) {
  .flow .number {
    padding: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flow .number span {
  display: block;
  text-align: center;
  line-height: 1.25;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .flow .number span {
    display: inline-block;
  }
}

.flow .number .step {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .flow .number .step {
    font-size: 1rem;
  }
}

.flow .number .number-txt {
  font-size: 2.8rem;
}

@media screen and (max-width: 750px) {
  .flow .number .number-txt {
    font-size: 2rem;
  }
}

.flow .contents {
  padding: 30px;
  background-color: #fff;
}

@media screen and (max-width: 750px) {
  .flow .contents {
    padding: 20px;
  }
}

.flow .contents__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow .contents-ttl {
  font-size: 2rem;
  font-weight: bold;
  color: #43B2CA;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .flow .contents-ttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  .flow .contents-ttl {
    font-size: 1.8rem;
    margin-bottom: 10px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.flow .contents-txt {
  font-size: 1.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flow .list-img {
  width: 50px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .flow .list-img {
    width: 40px;
  }
}

.flow .arrow {
  width: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .flow .arrow {
    width: 20px;
    margin-bottom: 15px;
  }
}

.service {
  padding: 100px 0;
}

@media screen and (max-width: 750px) {
  .service {
    padding: 50px 0;
  }
}

.case {
  padding: 100px 0 50px;
}

@media screen and (max-width: 750px) {
  .case {
    padding: 50px 0;
  }
}

.case-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .case-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.case .list-item {
  width: 48%;
  margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .case .list-item {
    width: 100%;
  }
  .case .list-item:last-child {
    margin-bottom: 0;
  }
}

.case .list-item__ttl {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #62b5e1;
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  .case .list-item__ttl {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

.case .list-item__txt {
  font-size: 1.4rem;
}

.case .list-item__img {
  margin-bottom: 20px;
}

.cv-contact {
  background-color: #eef9fb;
}

.cv-contact .container {
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .cv-contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 30px;
  }
}

@media screen and (max-width: 750px) {
  .cv-contact .container {
    padding: 50px 0;
  }
}

.cv-contact .ttl {
  font-size: 3.2rem;
  font-weight: bold;
  color: #62b5e1;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .cv-contact .ttl {
    font-size: 2.4rem;
    text-align: center;
  }
}

.cv-contact .ai-blue {
  font-weight: bold;
  color: #62b5e1;
}

.cv-contact__img {
  max-width: 320px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .cv-contact__img {
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 750px) {
  .cv-contact__img {
    width: 80%;
  }
}

.cv-contact .contents {
  margin-bottom: 30px;
}

.cv-contact .contact_btn {
  max-width: 440px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #264b8d;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Oxygen", cursive;
  margin-left: 0;
}

@media screen and (max-width: 750px) {
  .cv-contact .contact_btn {
    max-width: 100%;
  }
}

.cv-contact .contact_btn__img {
  width: 20px;
  margin-right: 10px;
  padding-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .cv-contact .contact_btn__img {
    width: 25px;
    padding-bottom: 11px;
  }
}

@media screen and (max-width: 768px) {
  .cv-contact .contact_btn {
    margin: 0 auto;
    max-width: 100%;
  }
}

.cv-contact .contact_btn:hover {
  background-color: #30a3db;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.cv-contact .is-sp {
  width: 100%;
}

/* ********************* */
/* flow */
/* ********************* */
/* ********************* */
/* 事例Pick コンサル受託開発 */
/* ********************* */
.service .container.wide {
  background-color: #F7F7F7;
  padding: 100px 0;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .service .container.wide {
    padding: 50px 0;
    margin-bottom: 50px;
  }
}

.service__ttl {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .service__ttl {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}

.service .contents-wrap {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .service .contents-wrap {
    width: 100%;
  }
}

/* 事例ピックアップのタブ切り替え ---start */
.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.tab-group .tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
  border: solid 1px #ccc;
  text-align: center;
  background-color: rgba(38, 75, 141, 0.4);
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .tab-group .tab {
    padding: 10px 5px;
    font-size: 1.2rem;
  }
}

.tab-group .tab.is-active {
  background: #264b8d;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.panel-group {
  padding: 80px 0;
  background: #f7f7f7;
}

@media screen and (max-width: 750px) {
  .panel-group {
    padding: 50px 0;
  }
}

.panel-group .panel {
  display: none;
  width: 90%;
  margin: 0 auto;
}

.panel-group .panel.is-show {
  display: block;
}

/* 事例ピックアップのタブ切り替え ---end */
.panel-ttl {
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 750px) {
  .panel-ttl {
    text-align: left;
    margin-bottom: 50px;
  }
}

.panel__wrap {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 750px) {
  .panel__wrap {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

.panel__wrap:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.panel__content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 750px) {
  .panel__content-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.panel__content-area .content-area_img {
  margin-right: 50px;
  width: 45%;
}

@media screen and (max-width: 750px) {
  .panel__content-area .content-area_img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.panel__content-area .content-area_txt {
  width: 55%;
}

@media screen and (max-width: 750px) {
  .panel__content-area .content-area_txt {
    width: 100%;
  }
}

.panel .txt-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #43B2CA;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .panel .txt-title {
    text-align: center;
    margin-bottom: 10px;
  }
}

/* ********************* */
/* 事例Pick 法人研修事業 */
/* ********************* */
.tab_corpo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  text-align: center;
  background-color: rgba(48, 163, 219, 0.8);
  color: #fff;
  padding: 18px 0;
  cursor: pointer;
}

.content_corpo_text_area {
  width: 50%;
  margin-left: 42px;
}

.books_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  margin-left: 24px;
}

.title_reference {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: #333;
}

.book_title {
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.img_Btnamazon {
  display: block;
  margin-top: 36px;
}

.content_corpo > img {
  margin-top: 54px;
}

.btn--with-arrow {
  margin-top: 30px;
}

@media (max-width: 900px) {
  .btn--with-arrow {
    margin-top: 15px;
  }
}

.worry {
  background-color: #f7f7f7;
  padding: 100px 0;
}

@media screen and (max-width: 750px) {
  .worry {
    padding: 50px 0;
  }
}

.worry-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.worry .list-item {
  width: 49%;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .worry .list-item {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
  }
}

.needs {
  padding: 100px 0;
}

@media screen and (max-width: 750px) {
  .needs {
    padding: 50px 0;
  }
}

.needs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .needs-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.needs .list-item {
  width: 48%;
  padding: 40px;
  border: 1px solid #d9d9d9;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .needs .list-item {
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 20px;
  }
  .needs .list-item:last-child {
    margin-bottom: 0;
  }
}

.needs .list-item .txt-area {
  margin-bottom: 20px;
}

.needs .list-item__ttl {
  font-size: 2rem;
  font-weight: bold;
  color: #62b5e1;
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  .needs .list-item__ttl {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

.customize {
  margin-bottom: 100px;
}

@media screen and (max-width: 750px) {
  .customize {
    margin-bottom: 50px;
  }
}

.customize .container {
  padding: 80px 100px;
  background-color: #eef9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .customize .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 30px;
  }
}

@media screen and (max-width: 750px) {
  .customize .container {
    padding: 50px 20px;
  }
}

.customize .ttl {
  font-size: 3.2rem;
  font-weight: bold;
  color: #62b5e1;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .customize .ttl {
    font-size: 2.4rem;
    text-align: center;
  }
}

.customize .ai-blue {
  font-weight: bold;
  color: #62b5e1;
}

.customize__img {
  max-width: 320px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .customize__img {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 750px) {
  .customize__img {
    width: 80%;
  }
}

.cv {
  padding: 50px 0;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1025px) {
  .cv {
    padding: 60px 0;
  }
}

@media screen and (max-width: 750px) {
  .cv {
    margin-bottom: 50px;
  }
}

.cv.blue {
  background-color: #062E75;
}

.cv-img {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 1025px) {
  .cv-img {
    width: 100%;
  }
}

.cv-ttl {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 1025px) {
  .cv-ttl {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.cv-sub-txt {
  font-weight: bold;
  font-size: 2.4rem;
  text-decoration: underline;
  margin-bottom: 20px;
}

@media screen and (max-width: 1025px) {
  .cv-sub-txt {
    font-size: 1.6rem;
  }
}

.cv .contents-txt {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.cv .caution {
  font-size: 1.6rem;
}

@media screen and (max-width: 1025px) {
  .cv .caution {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles_business.css.map */