@charset "UTF-8";
/* ********************* */
/* TOPサービス */
/* ********************* */
.top-service {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #eef9fb;
}

@media screen and (max-width: 768px) {
  .top-service {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.top-service .en-section-ttl {
  text-align: center;
}

.top-service .left {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .top-service .left {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.top-service .right p {
  color: #474847;
}

@media screen and (max-width: 768px) {
  .top-service .right p {
    text-align: left;
  }
}

.top-service-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .top-service-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-service .list-item {
  background-color: #fff;
  width: 30%;
  padding: 60px 30px;
  position: relative;
  cursor: pointer;
  border: 2px solid #fff;
}

.top-service .list-item:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid #62b5e1;
}

@media screen and (max-width: 1025px) {
  .top-service .list-item {
    width: 32%;
    padding: 50px 20px;
  }
}

@media screen and (max-width: 768px) {
  .top-service .list-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .top-service .list-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .top-service .list-item {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 750px) {
  .top-service .list-item__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-service .list-item__img {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .top-service .list-item__img {
    width: 50px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-left: 0;
  }
}

.top-service .list-item__img.sec {
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
}

.top-service .list-item__ttl {
  color: #62b5e1;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.25;
}

.top-service .list-item__ttl.one-liine {
  line-height: 61px;
}

@media screen and (max-width: 750px) {
  .top-service .list-item__ttl {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: left;
  }
}

.top-service .list-item__txt {
  margin-bottom: 10px;
  margin-top: 20px;
}

.top-service .list-item__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .top-service .list-item__tag {
    width: 80%;
  }
}

.top-service .list-item__tag li {
  display: inline-block;
  color: #8f8f8f;
  font-size: 14px;
  line-height: 21px;
  background-color: #f7f7f7;
  display: block;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.top-service .list-item__tag li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.top-service .list-item__tag .blue {
  color: #62b5e1;
}

.top-service .arrow {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 60px;
  display: block;
  margin-left: auto;
}

@media screen and (max-width: 750px) {
  .top-service .arrow {
    width: 45px;
  }
}

/* ********************* */
/* TOPニュース */
/* ********************* */
.news {
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  .news {
    padding: 80px 0;
  }
}

.news #news-lists {
  margin: 0 auto;
  border-top: 1px solid #333;
}

.news .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #333;
}

.news .list-item:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
}

@media screen and (max-width: 750px) {
  .news .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.news .list-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

@media screen and (max-width: 1025px) {
  .news .list-item__info {
    margin-left: 0px;
  }
}

@media screen and (max-width: 750px) {
  .news .list-item__info {
    margin-bottom: 10px;
  }
}

.news .news_date {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  width: 90px;
  font-family: "Oxygen", cursive;
  margin-right: 30px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .news .news_date {
    margin-right: 20px;
    font-size: 1.2rem;
    display: inline-block;
    width: 65px;
  }
}

.news .news_kind {
  margin-right: 40px;
  background-color: #264b8d;
  padding: 3px 5px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  width: 80px;
}

@media screen and (max-width: 768px) {
  .news .news_kind {
    margin-right: 20px;
    margin-left: 0;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 750px) {
  .news .news_kind {
    font-size: 1rem;
  }
}

.news .btn-area {
  text-align: center;
}

.news .btn {
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (max-width: 750px) {
  #news_all {
    width: 100%;
  }
}

/* ********************* */
/* TOP ABOUT */
/* ********************* */
.about {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #eef9fb;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.about .left {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .about .left {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.about .right {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .about .right {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about .right-txt {
    text-align: left;
  }
}

.about .btn-area {
  margin-top: 30px;
}

/* ********************* */
/* CONTACT */
/* ********************* */
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-image: url(../../image/common/contact-background_pc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    background-size: 100%;
    background-image: url(../../image/common/contact-background.png);
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    text-align: center;
  }
}

.contact .en-section-ttl {
  color: #fff;
}

.contact-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .contact-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.contact-contents__txt {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .contact-contents__txt {
    margin-right: 0;
    text-align: left;
  }
}

.contact .contact-btn {
  border: solid 2px #fff;
  background-color: #264b8d;
  width: 100%;
}

.contact .contact-btn:hover {
  border: solid 2px #30a3db;
  background-color: #30a3db;
}

/* ********************* */
/* RECRUIT*/
/* ********************* */
.recruite-link-lists {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .recruite-link-lists {
    bottom: 50px;
  }
}

.recruite-link-lists__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .recruite-link-lists__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recruite-link-lists li {
  margin-right: 20px;
  width: 33%;
}

@media screen and (max-width: 768px) {
  .recruite-link-lists li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.recruite-link-lists li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .recruite-link-lists li:last-child {
    margin-bottom: 0;
  }
}

.recruite .full-color-btn {
  display: block;
  width: 100%;
}

/* ********************* */
/* ABOUT */
/* ********************* */
.en-section-ttl {
  color: #062E75;
  margin-bottom: 50px;
}

.en-section-ttl_en {
  font-family: "Oxygen", cursive;
  font-size: 4.2rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .en-section-ttl_en {
    font-size: 3.2rem;
  }
}

.en-section-ttl_ja {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .en-section-ttl_ja {
    font-size: 1.6rem;
  }
}

.member {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .member {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.member .en-section-ttl {
  text-align: center;
}

.member .small-ttl {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .member .small-ttl {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}

.member .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (max-width: 768px) {
  .member .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.member .profile .left {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .member .profile .left {
    max-width: 450px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.member .profile .right {
  width: 45%;
}

@media screen and (max-width: 768px) {
  .member .profile .right {
    width: 100%;
  }
}

.member .profile .company-name,
.member .profile .position {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .member .profile .company-name,
  .member .profile .position {
    text-align: center;
  }
}

.member .profile .name {
  font-size: 2.4rem;
  color: #30a3db;
  margin-bottom: 30px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .member .profile .name {
    margin-bottom: 15px;
    text-align: center;
  }
}

.member .works {
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.member .works .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .member .works .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.member .works .left {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .member .works .left {
    max-width: 450px;
    width: 100%;
    margin-top: 15px;
  }
}

.member .works .left .works-ttl {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .member .works .left .works-ttl {
    font-size: 1.2rem;
    text-indent: -1em;
    padding-left: 1em;
  }
}

.member .works .right {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .member .works .right {
    max-width: 450px;
    width: 80%;
    margin: 0 auto;
  }
}

.member .works .company-name,
.member .works .position {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .member .works .company-name,
  .member .works .position {
    text-align: center;
  }
}

.member .works .name {
  font-size: 2.4rem;
  color: #30a3db;
  margin-bottom: 30px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .member .works .name {
    margin-bottom: 15px;
    text-align: center;
  }
}

.member .books {
  padding-top: 50px;
}

.member .books .contents-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  .member .books .contents-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.member .books .list-item {
  width: 32%;
}

@media screen and (max-width: 750px) {
  .member .books .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
  .member .books .list-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .member .books .list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.member .books .list-item .img {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .member .books .list-item .img {
    max-width: 100px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.member .books .list-item .img-ttl {
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .member .books .list-item .img-ttl {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .member .books .list-item .img-ttl {
    font-size: 1.2rem;
    text-align: left;
    width: 75%;
  }
}

.main-contents {
  background-color: #f7f7f7;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  .main-contents {
    padding: 50px 0;
  }
}

.main-contents__container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main-contents__container {
    width: 100%;
  }
}

.main-contents .en-section-ttl {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .main-contents .en-section-ttl {
    margin-bottom: 20px;
  }
}

.main-contents .value {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .main-contents .value {
    margin-bottom: 50px;
  }
}

.main-contents .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .main-contents .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-contents .wrap.reverce {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .main-contents .wrap.reverce {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-contents .img-area {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .main-contents .img-area {
    width: 95%;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .main-contents .img-area.reverce {
    margin-left: auto;
    width: 95%;
    margin-right: 0;
  }
}

.main-contents .txt-area {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .main-contents .txt-area {
    width: 90%;
  }
}

.main-contents .txt p {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main-contents .txt p {
    margin-bottom: 10px;
  }
}

.main-contents .txt p:last-child {
  margin-bottom: 0;
}

.message,
.identity {
  margin: 100px 0;
}

@media screen and (max-width: 768px) {
  .message,
  .identity {
    margin: 50px 0;
  }
}

.message .contents-wrap,
.identity .contents-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  .message .contents-wrap,
  .identity .contents-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message .contents-wrap.reverce,
.identity .contents-wrap.reverce {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 750px) {
  .message .contents-wrap.reverce,
  .identity .contents-wrap.reverce {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message .contents-wrap__img,
.identity .contents-wrap__img {
  width: 25%;
}

@media screen and (max-width: 750px) {
  .message .contents-wrap__img,
  .identity .contents-wrap__img {
    width: 40%;
    margin-bottom: 30px;
  }
}

.message .contents-wrap__txt,
.identity .contents-wrap__txt {
  width: 70%;
}

@media screen and (max-width: 750px) {
  .message .contents-wrap__txt,
  .identity .contents-wrap__txt {
    width: 100%;
  }
}

.identity .en-section-ttl {
  text-align: center;
}

.identity__table {
  width: 100%;
}

.identity__table tr {
  border-bottom: 1px solid #c4c3c3;
  display: block;
  padding: 40px 0;
}

@media screen and (max-width: 750px) {
  .identity__table tr {
    padding: 30px 0;
  }
}

.identity__table tr:first-child {
  border-top: 1px solid #c4c3c3;
}

.identity__table th {
  min-width: 200px;
  padding-left: 21px;
  vertical-align: middle;
  font-weight: 400;
}

@media screen and (max-width: 750px) {
  .identity__table th {
    min-width: 120px;
  }
}

.identity__table td {
  line-height: 21px;
}

/* ********************* */
/* NEWS一覧 */
/* ********************* */
.news-lists .contact {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .news-lists .contact {
    margin-top: 80px;
  }
}

/* ********************* */
/* お問合せ */
/* ********************* */
.sub_contact {
  max-width: 850px;
  margin: 0 auto;
}

.sub_contact__item {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub_contact .label {
  font-size: 1.8rem;
}

@media screen and (max-width: 750px) {
  .sub_contact .label {
    font-size: 1.4rem;
  }
}

.sub_contact .must {
  margin-right: 5px;
  font-size: 1.4rem;
  background-color: #333;
  color: #fff;
  padding: 6px 12px;
  border-radius: 2px;
}

@media screen and (max-width: 750px) {
  .sub_contact .must {
    font-size: 1.2rem;
  }
}

.sub_contact .item-ttl {
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  .sub_contact .item-ttl {
    margin-bottom: 10px;
  }
}

.sub_contact .detail {
  width: 100%;
}

.sub_contact .contact_input {
  width: 100%;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.sub_contact .contact_textarea {
  resize: vertical;
  display: block;
  width: 100%;
  min-height: 300px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 2px;
  text-align: left;
}

.sub_contact .contact_confilm {
  padding-bottom: 100px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sub_contact .contact_confilm {
    width: 100%;
  }
}

.sub_contact .privacy_policy {
  font-size: 15px;
  letter-spacing: 2px;
  color: #333;
}

.sub_contact .privacy-policy-detail {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #eee;
  padding: 24px;
}

.sub_contact .agree-policy {
  text-align: center;
  margin: 54px 0;
}

.sub_contact .btnSubmit {
  margin-top: 48px;
  background-color: #333;
  letter-spacing: 2px;
  color: #fff;
  padding: 15px 15px;
  border-radius: 2px;
  font-size: 15px;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .sub_contact .btnSubmit {
    margin-top: 0px;
  }
}

.sub_contact .btnSubmit:hover {
  background-color: #6e6e6e;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

/* ********************* */
/* お問合せ送信後 */
/* ********************* */
.after-sending {
  padding-bottom: 100px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .after-sending {
    padding-bottom: 80px;
  }
}

.after-sending__txt {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .after-sending__txt {
    margin-bottom: 30px;
    text-align: left;
  }
}

/* ********************* */
/* メディア */
/* ********************* */
.media-logo {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .media-logo {
    width: 70%;
  }
}

.media .list-item .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

@media screen and (max-width: 750px) {
  .media .list-item .wrap {
    margin-bottom: 2px;
  }
}

.media .list-item .date,
.media .list-item .ttl {
  font-weight: 500;
}

.media .category {
  border: 1px solid #30a3db;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-right: 10px;
  line-height: 2;
}

@media screen and (max-width: 750px) {
  .media .category {
    font-size: 1rem;
    padding: 0px 5px;
    margin-right: 5px;
  }
}

.media .category.selected {
  color: #fff;
  background-color: #30a3db;
}

.media .category.un-selected {
  color: #30a3db;
  background-color: #fff;
}

.media .category.un-selected:hover {
  color: #fff;
  background-color: #30a3db;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.media-pickup-lists:after {
  content: "";
  display: block;
  clear: both;
}

.media-pickup-lists .list-item {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
}

.media-pickup-lists .list-item:first-child {
  width: 50%;
}

@media screen and (max-width: 750px) {
  .media-pickup-lists .list-item:first-child {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .media-pickup-lists .list-item {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .media-pickup-lists .list-item {
    float: none;
    width: 100%;
  }
}

.media-pickup-lists .info-container {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 32px 20px 16px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000), color-stop(#000000b3), to(#000));
  background: linear-gradient(#0000, #000000b3, #000);
  overflow: hidden;
}

.media-pickup-lists .ttl {
  font-size: 1.8rem;
}

.media-contents {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .media-contents {
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .media-contents {
    width: 100%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .media-contents .en-section-ttl {
    text-align: center;
    margin-bottom: 30px;
  }
}

.media-contents__left {
  width: 65%;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .media-contents__left {
    width: 100%;
    margin-bottom: 100px;
  }
}

.media-contents__left .media-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media-contents__left .media-lists .list-item {
  height: 100%;
  width: 49%;
  margin-bottom: 50px;
  border: 1px solid #d9d9d9;
}

.media-contents__left .media-lists .info-container {
  padding: 20px;
}

.media-contents__left .media-lists .ttl {
  font-size: 2rem;
  color: #30a3db;
}

.media-contents__left .media-lists .txt {
  color: #9d9d9d;
}

.media-contents__right {
  max-width: 300px;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .media-contents__right {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .media-contents__right {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
  }
}

.media-contents__right .en-section-ttl {
  margin-bottom: 30px;
}

.media-contents__right .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

@media screen and (max-width: 750px) {
  .media-contents__right .tag-list {
    width: 90%;
    margin: 0 auto;
  }
}

.media-contents__right .tag-list .category {
  margin-right: 0;
  font-size: 1.4rem;
}

.media-contents__category {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .media-contents__category {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .media-contents__ranking .media-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.media-contents__ranking .ttl {
  font-size: 2rem;
  color: #30a3db;
}

.media-contents__ranking .txt {
  color: #9d9d9d;
}

.media-contents__ranking .list-item {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .media-contents__ranking .list-item {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .media-contents__banner .banner-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .media-contents__banner .banner-lists {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.media-contents__banner .list-item {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .media-contents__banner .list-item {
    width: 49%;
  }
}

@media screen and (max-width: 750px) {
  .media-contents .media-lists .list-item {
    margin-bottom: 0px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
  }
}

@media screen and (max-width: 750px) {
  .media-contents .media-lists .list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .media-contents .media-lists .list-item .img {
    width: 45%;
  }
}

.media-contents .media-lists .info-container {
  padding-top: 20px;
}

@media screen and (max-width: 750px) {
  .media-contents .media-lists .info-container {
    width: 55%;
    padding: 0;
    padding: 20px 20px 20px 10px;
  }
}

.media-contents .media-lists .ttl {
  font-size: 2rem;
  color: #30a3db;
}

@media screen and (max-width: 750px) {
  .media-contents .media-lists .ttl {
    font-size: 1.4rem;
  }
}

.media-contents .media-lists .txt {
  color: #9d9d9d;
}

@media screen and (max-width: 750px) {
  .media-contents .media-lists .txt {
    font-size: 1rem;
  }
}

.article {
  margin-bottom: 100px;
}

@media screen and (max-width: 750px) {
  .article {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

.article .ttl-are {
  margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .article .ttl-are {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 750px) {
  .article .category,
  .article .date {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 750px) {
  .article .category {
    margin-right: 10px;
  }
}

.article .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .article .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.article .info-container .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 750px) {
  .article .share {
    margin-bottom: 20px;
  }
}

.article .share div {
  margin-right: 4px;
}

.article-ttl {
  font-size: 2.4rem;
  color: #62b5e1;
  font-weight: bold;
  margin-bottom: 20px;
}

.article .outline {
  padding: 30px;
  margin-bottom: 50px;
  border: 1px solid #d9d9d9;
}

@media screen and (max-width: 750px) {
  .article .outline {
    padding: 20px;
  }
}

.article .outline-ttl {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.article .outline-wrap {
  margin-bottom: 30px;
}

.article .outline-wrap:last-child {
  margin-bottom: 0;
}

.article .outline-wrap__ttl {
  display: block;
  font-size: 1.6rem;
  color: #62b5e1;
  font-weight: bold;
  margin-bottom: 10px;
}

.article .outline-wrap__ttl:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.article .outline-lists {
  margin-left: 20px;
}

@media screen and (max-width: 750px) {
  .article .outline-lists {
    margin-left: 10px;
  }
}

.article .list-item {
  list-style-type: none;
  position: relative;
  padding-left: 0.6em;
  margin-bottom: 10px;
}

.article .list-item a:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.article .list-item:before {
  border-radius: 50%;
  /*丸くする*/
  width: 5px;
  /*点の幅*/
  height: 5px;
  /*点の高さ*/
  display: block;
  position: absolute;
  /*絶対配置*/
  left: 0;
  /*点の位置*/
  top: 0.8em;
  /*点の位置*/
  content: "";
  background: #30a3db;
  /*点の色*/
}

.article .content {
  margin-bottom: 50px;
}

.article p {
  margin-bottom: 30px;
}

.article h3 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #62b5e1;
  font-weight: bold;
  background-color: #f7f7f7;
  padding: 15px 20px;
  border-bottom: 1px solid #62b5e1;
}

@media screen and (max-width: 750px) {
  .article h3 {
    font-size: 2.2rem;
    padding: 15px;
  }
}

.article h4 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  padding-left: 25px;
}

.article h4:before {
  position: absolute;
  top: 0.5em;
  left: 0;
  display: block;
  width: 0.8em;
  height: 0.8em;
  background: #62b5e1;
  content: "";
}

.article h5 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

@media screen and (max-width: 750px) {
  .table {
    min-width: 550px;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .table-wrap {
    overflow-x: scroll;
  }
}

.table th {
  text-align: center;
  padding: 10px;
  background: #f7f7f7;
  border: solid 1px #d9d9d9;
  vertical-align: middle;
}

.table td {
  padding: 10px;
  border: solid 1px #d9d9d9;
  vertical-align: middle;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #062E75;
}

@media screen and (max-width: 750px) {
  .pagination {
    margin-top: 30px;
  }
}

.pagination > * + * {
  margin-left: 12px;
}

.pagination-Item-Link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

@media screen and (max-width: 750px) {
  .pagination-Item-Link {
    width: 35px;
    height: 35px;
    font-size: 1.6rem;
  }
}

.pagination-Item-Link-Icon {
  width: 10px;
}

@media screen and (max-width: 750px) {
  .pagination-Item-Link-Icon {
    width: 8px;
  }
}

.pagination-Item-Link.isActive {
  pointer-events: none;
  background: #062E75;
  color: #fff;
}

.pagination-Item-Link:not(.isActive):hover {
  background: #062E75;
  color: #fff;
}
/*# sourceMappingURL=styles_main.css.map */