// カラー設定
$ai-black: #333333;
$white: #fff;
$ai-pale-blue: #EEF9FB;
$paleblue: #EEF9FB;
$ai-blue: #43B2CA;
$ai-deep-blue: #0E538C;
$ai-green: #0F6B38;


// メディアクエリ
$media-tab: 1025px;
$media-tab-s: 768px;
$media-sp: 750px;
$media-sp-s: 375px;







